<section id="product-models">
    <h1>Modelo de Produto<h1>

    <div id="new-product-models">
    <%= link_to "Cadastrar novo modelo", new_product_model_path %>
    </div>
    
    <br>
    <% if @product_models.any? %>
      <div id="product-model-list">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>SKU</th>
              <th>Fornecedor</th>
              </tr>
          </thead>
          <tbody>
            <% @product_models.each do |pm| %>
              <tr>
                <td> <%= pm.name %> </td>
                <td> <%= pm.sku %> </td>
                <td> <%= pm.supplier.brand_name %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
     <% else %>
        <h2>Nenhum modelo de produto cadastrado</h2> 
     <% end %>
     </div>
    

</section>