<h1>Cadastrar um novo pedido</h1>

<div id="order-errors-messages">
  <% if @order.errors.any? %>
    <ul>
      <% @order.errors.full_messages.each do|msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="new-order">
<%= render "form" %>
</div>