/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* form */
 /* homepage */
 nav div form button {
    float: left;
    margin-right: 5px;
 }
  /* warehouse */
#new-warehouse input {
    display: block;
    margin-bottom: 5px;
}
 /* supplier */
#new-supplier input {
    display: block;
    margin-bottom: 5px
}
 /* product_model */
#new-product_model input {
    display: block;
    margin-bottom: 5px
}
#new-product_model div {
    display: block;
    margin-bottom: 5px
}
 /* order */
#new-order input {
    display: block;
    margin-bottom: 5px
}
#new-order div {
    display: block;
    margin-bottom: 5px
}
 /* button */
#button input{
    display: block;
    width: 50px;
    margin-top: 10px;
}
