<h2>Editar Fornecedor:<%= @supplier.brand_name %></h2>

<div id="supplier-errors-messages">
    <% if @supplier.errors.any? %>
    <p>Veja os erros ao atualizar:</p>
    <ul>
      <% @supplier.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
</div>

<%= render "form" %>