<h1>Novo fornecedor</h1>

<div id="supplier-errors-messages">
    <% if @supplier.errors.any? %>
    <p>Veja os erros ao cadastrar: </p>
    <ul>
      <%@supplier.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    <ul>
    <% end %>
</div>

<%= render 'form' %>